<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <h1>Pharmfinder</h1>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inventory</a>
          </li>
        </ul>
      </nav>
      <div class="container">
        <h1>Company Search Results for: </h1>
        <div class="row">
        {% for company in companyDetails %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">{{company[0]}}</h5>
                    <h6 class="card-text text-muted">{{company[1]}}</h6>
                    <a href="{{ url_for('pharmacy', company_name=company[0])}}" class="card-link">View Services</a>
                    <a href="https://www.google.com/search?q={{ company[1] | urlencode }}" class="card-link">View on Google</a>
                </div>
            </div>
        </div>
        {% endfor %}    
          </div>
      </div>
</body>
</html>

<style>
    .box-icon {
        border: 2px black;
        border-radius: 10px;
    }
</style>